.container {
  max-width: 100vw;
  height: 25em;
  cursor: all-scroll;
}

.items {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.items::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.items:first-of-type {
  padding-left: 16em;
}

.img {
  margin-left: 2em;
  width: 18em;
  height: 25em;
}

@media screen and (max-width: 690px) {
  .items:first-of-type {
    padding-left: 0;
  }

  .img {
    margin-left: 1em;
  }
}
